{% extends 'base.html.twig' %}

{% block title %}{{ 'Password_Reset_Email_Sent'|trans }}{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="text-center"> {{'Email envoyé'|trans}} </h1>
        <p>{{ 'An email has been sent that contains a link that you can click to reset your password. This link will expire
        in'|trans }} {{ tokenLifetime|date('g') }} {{ 'hour(s)'|trans }}.</p>
        <p>{{ 'If you don\'t receive an email please check your spam folder or'|trans}} <a
                    href="{{ path('app_forgot_password_request') }}">{{ 'try_again'|trans }}</a>.</p>
    </div>
{% endblock %}
