{% extends 'base.html.twig' %}

{% block title %}{{ 'Reset_your_password'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="text-center mb-5">{{ 'Reset_your_password'|trans }}</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {{ 'Enter your email address and we we will send you a
                link to reset your password.'|trans }}
            </small>
        </div>

        <button class="btn btn-primary">{{ 'Send_password_reset_email'|trans }}</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}