{% extends 'base.html.twig' %}

{% block title %}{{ 'Reset_your_password'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5">{{ 'Reset_your_password'|trans }}</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'Reset-password'|trans }}</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
