{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - All programs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center m-5">Toutes les séries</h1>
        <div class="row">
            {% for program in programs %}
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="index-card card mb-5 text-center bg-light">
                        <div class=" card-body text-center m-5 mr-xs-4">
                            <h2 class="card-title text-center">{{ loop.index }} - {{ program.title }} - <p
                                        class="badge badge-secondary py-1 px-1">{{ program.category.name }}</p></h2>
                            <p class="card-text text-truncate">{{ program.summary }}</p>
                            <a class="btn btn-info" href="{{ path("program_show", { id: program.id }) }}">Voir la
                                fiche</a>
                        </div>
                    </div>
                </div>

            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>

        <a class="btn btn-primary mt-5 mb-5 text-center" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}