{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ program.title }} - {{ season.number }}
{% endblock %}

{% block body %}
   <div class="container season mt-5">
       <style>
           h1 {
               background-image: url("{{ program.poster }}");
               background-size: cover;
               background-repeat: no-repeat;
               backdrop-filter: blur(30%);
               color: whitesmoke;
           }
       </style>
       <h1 class="border-bottom border-dark">{{ 'Saison'|trans }} {{ season.number }}  de {{ program.title }}</h1>
       <div class="w-50">
             <p>{{ season.description }}</p>
       </div>
       <div class="card w-50">
           <strong>{{ 'Liste des episodes'|trans }} :</strong><br>
           {% for episode in season.episodes %}
                <a href="{{ path("program_episode_show", {program: program.id,season: season.id,episode: episode.id}) }}">{{'Épisode'|trans}} {{ episode.number }} : {{ episode.title }}<br></a>
               {% else %}
           {{ 'Pas d\'épisodes'|trans}}
           {% endfor %}
       </div>
   </div>
{% endblock %}