{% extends 'base.html.twig' %}

{% block title %}{{'Série'|trans}} #{{ program.id }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <img class="img-fluid align-self-center" src="{{ asset('uploads/' ~ program.poster) }}" alt="{{ program.title }} poster">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mr-0">
                <div class="media">
                    <div class="media-body">
                        <h1 class="mt-0">{{ program.title }}<span class="ml-2"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-badge-4k" viewBox="0 0 16 16">
                                <path d="M4.807 5.001C4.021 6.298 3.203 7.6 2.5 8.917v.971h2.905V11h1.112V9.888h.733V8.93h-.733V5.001h-1.71zm-1.23 3.93v-.032a46.781 46.781 0 0 1 1.766-3.001h.062V8.93H3.577zm9.831-3.93h-1.306L9.835 7.687h-.057V5H8.59v6h1.187V9.075l.615-.699L12.072 11H13.5l-2.232-3.415 2.14-2.584z"/>
                                <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                            </svg></span>
                            {% if app.user %}
                                <button id="watchlist">
                                     <i id="watchlistIcon" class="watchlist {{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart ml-5" data-href="{{ path('program_watchlist', {'id': program.id}) }}"></i>
                                </button>
                            {% endif %}
                        </h1>
                        <p class="badge badge-secondary py-2 px-2">{{ program.category.name }}</p>
                        <p>{{ program.summary }}</p>
                        <div class="card">
                            {% for season in seasons %}
                                <a class="btn btn-dark mb-2"
                                   href="{{ path("program_season_show",{program: program.id,season: season.id}) }}">
                                    <strong>{{'season'|trans }}
                                        - {{ season.number }}</strong></a>
                            {% endfor %}
                            <strong>{{ 'Acteurs'|trans }} :</strong>
                                {% for actor in program.actors %}
                                    <div>
                                    <a href="{{ path("actors_show", {id: actor.id}) }}"><img src="{{ asset('uploads/' ~ actor.poster) }}" alt="{{ actor.name }}" title="{{ actor.name }}" width="120px" height="100px"></a>
                                {% else %}
                                    <div>{{'Aucun acteur pour cette série'|trans}}</div>
                                    </div>
                                {% endfor %}
                        </div>
                        <div>
                            <a class="btn btn-info mt-5" href="{{ path('program_index') }}">
                                {{ 'back-to-list'|trans }}
                            </a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a class="btn btn-outline-info ml-2 mt-5"
                                   href="{{ path('program_edit', {'id': program.id} ) }}">{{ 'edit'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('watchlist') }}
{% endblock %}