<div class="row d-block d-sm-none fixed-bottom align-items-center">
    <div class="col">
        <div class="btn-group justify-content-end w-100" role="group" aria-label="Basic example">
            <a class="svg btn btn-light"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg><div>Home</div></a>
            <!-- Default dropup button -->
            <div class="btn-group dropup">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="btn btn-light "><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-camera-reels-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 8a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8z"/>
                            <circle cx="3" cy="3" r="3"/>
                            <circle cx="9" cy="3" r="3"/>
                        </svg><div>Films</div></a>
                </button>
                <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                </div>
            </div>
            <!-- Default dropup button -->
            <div class="btn-group dropup">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="btn btn-light align-items-center" href="{{ path("program_index") }}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-camera-video-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
                        </svg><div>Series</div></a>
                </button>
                <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <a class="btn bg-light w-100" href="{{ path('category_new') }}">Ajoute une série</a>
                    <a  class="btn btn-light w-100" href="{{ path('program_index') }}">Toutes les séries</a>
                    <a class="btn btn-light w-100" href="{{ path('category_index') }}" >Catégories</a>
                </div>
            </div>
            <a class="svg btn btn-light" href="{{ path("app_login") }}"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg><div>Connexion</div></a>
        </div>
    </div>
</div>