<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Wild Series{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" sizes="64x64" type="image/png" href="{{ asset('build/wild-series.png') }}"/>
        <link rel="stylesheet" href="/assets/styles/app.scss">
        <link rel="stylesheet" href="/build/css/app.scss">
    </head>
    <body>

        {% block banner %} {% include '_mobilebanner.html.twig' %}{% endblock %}
        {% block header %}
            {% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}
            {% block categories %}{% include '_navbarcategories.html.twig' %}{% endblock %}
        {% endblock %}
        <div class="dropdown d-flex justify-content-end mr-2 mb-5">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'langue'|trans }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"><a class="dropdown-item" href="{{ path('app_index', {'_locale':'fr'})}}">Fr</a></button>
                <button class="dropdown-item" type="button"><a class="dropdown-item" href="{{ path('app_index', {'_locale':'en'})}}">En</a></button>
                <button class="dropdown-item" type="button"><a class="dropdown-item" href="{{ path('app_index', {'_locale':'es'})}}">Es</a></button>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="/build/app.js"></script>
        {% block navbarmobile %}
            {% include '_navbarmobile.html.twig' %}
        {% endblock %}
    </body>
</html>
